<%-include('nav');-%>
<h1>This is About page</h1>
<form method="post" action="">
    <input type="text" placeholder="name" name="name">
    <input type="email" placeholder="EMail" name="email">
    <input type="text" placeholder="Phone" name="phone">
    <button type="button">submit</button>
</form>