<div class="nav">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contactus">Contact</a></li>
</ul>
</div>
<link rel="stylesheet" type="text/css" href="../assets/style.css">